.title {
  padding: 5%;
  text-align: center;
}

.title-ctn {
  width: 100%;
}

.list {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

.job {
  border-radius: 15px;
  margin: 5px;
  border: 2px solid rgb(24, 24, 24);
  width: 100%;
}

.job-title {
  color: rgb(230, 230, 230);
  font-size: 1.1em;
  text-align: center;
}

.job-desc {
  color: rgb(203, 203, 203);
  background-color: rgb(65, 65, 65);
  padding: 0.6em;
}

.metadata {
  flex-direction: row;
  border-radius: 0.5em;
  border-top: 2px solid rgb(33, 33, 33);
  background-color: rgb(55, 55, 55);
  padding: 0.1em;
}

.info {
  color: rgb(230, 230, 230);
  text-align: center;
  font-size: 1em;
}

.mt {
  color: rgb(230, 230, 230);
  padding-left: 0.5em;
}

h1 {
  color: rgb(230, 230, 230)
}

body {
  background-color: rgb(67, 67, 67)
}